{% extends "base.html.twig" %}

{% block title %}Přidat vozidlo{% endblock %}

{% block body %}
    <div class="panel panel-success col-sm-8">
        <div class="panel-heading">
            <h3>Přidat vozidlo</h3>
        </div>
        {% include "admin/include_form/carForm.html.twig" %}
        <div class="mt-3">
            <span class="p-1 font-weight-bold rounded" id="colorPreview">Barva vozidla</span>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include "admin/include_js/carColors.html.twig" %}
{% endblock %}