{% extends "base.html.twig" %}

{% block title %}Přidat vozidlo{% endblock %}

{% block body %}
    <div class="panel panel-success col-sm-8">
        <div class="panel-heading">
            <h3>Přidat vozidlo</h3>
        </div>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}

    </div>
{% endblock %}